{%- comment -%}
  ----------------------------------------------------------------------------------------------------------------------
  BEST FOR COMPONENT
  ----------------------------------------------------------------------------------------------------------------------
  Renders a component to allow the brand to showcase which hair types their products are designed for

  ********************************************
  Supported parameters
  ********************************************
  * article: the article to render. If no article is passed then a placeholder is generated
  * blog: the blog the article belongs to (if any)
  * show_category: if set to true, the first tag of the article is shown as a category
  * show_excerpt: if set to true, it will show the excerpt first or truncated part of the main content if none is set
  * show_read_more: if set to true, a read more link will be visible after the excerpt to redirect to the full blog post
  * category_class: the classes to apply on the category (default to h6)
  * title_class: the classes to apply on the title (default to h4)
  * sizes: the sizes attribute to show for loading the images
{%- endcomment -%}

<details class= "accordion-group">
  <summary>Click to toggle</summary>
  <p>Content goes here</p>
</details>
