<div class="logo-section">
  <div class="best-for-container">
    <h6 class='h6'>Best For</h6>
    <div class="logo-thumbnails">
      <img src="https://cdn.shopify.com/s/files/1/0318/7238/5161/files/wavy.png?v=1700525001" alt="Wavy Hair Logo" />
      <img src="https://cdn.shopify.com/s/files/1/0318/7238/5161/files/curly.png?v=1700525001" alt="Curly Hair Logo" />
      <img src="https://cdn.shopify.com/s/files/1/0318/7238/5161/files/very-curly.png?v=1700525001" alt="Very Curly Hair Logo" />
    </div>
  </div>
</div>